# Django Settings
SECRET_KEY=django-insecure-h^n%a2nae#4mu@rot_!6d_lk1%(%85dv+e9m4b5^au1buj@8mx
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Settings
DATABASE_URL=postgres://todouser:todopass@localhost:5432/tododb

# PostgreSQL Settings (for Docker)
POSTGRES_DB=tododb
POSTGRES_USER=todouser
POSTGRES_PASSWORD=todopass
POSTGRES_HOST=db
POSTGRES_PORT=5432
